* {
    margin: 0;
    padding : 0;
}
#container{
    background-color: #F0F0F0;
}
.content{
    padding: 60px 0;
}
.article{
    margin: 20px auto;
    padding: 15px;
    border: 1px white solid;
    background: #F2F2F2;
    -webkit-box-shadow: 0 1px 10px #A8B1B9;
    -moz-box-shadow: 0 1px 10px #A8B1B9;
    box-shadow: 0 1px 10px #55BBAA;
}
.art_inner{
    padding: 20px;
    border: 1px #f2f2f3 solid;
    background-color: #F6F6F6;
}
