---
layout: default
title: Hwren's Blog
---
{% for post in site.posts %}
<div class="row-fluid">
    <div class="article span10 offset2">
        <div class="art_inner">
            <h2 class="art_title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="art_info">
                {{ post.date | date_to_string}}
            </div>
            <div class="art_summary">
                {{ post.excerpt }}
                <p><a href="{{ post.url }}">更多...</a></p>
            </div>
            <div class="art_foot">
            {% for tag in post.tags%}
                <span>{{ tag }}</span>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
